.about {
  grid-row: about;

  table {
    border-collapse: collapse;
    width: 100%;
    th,
    td {
      border: solid 1px $kurohairo;
      padding: 20px;
    }

    th {
      width: 10em;
      text-align: center;
      background: lighten($momijiiro, 20%);
      color: $otomeiro;
    }

    td {
      background: $nanohanairo;
    }
  }
}
