/* ヘッダー
---------------------------------------------------------------------*/
header  {
  grid-row: header;
  justify-self: center;
  align-self: center;
  font-size: clamp(48px, 12vw, 54px);

  font-weight: bold;
  letter-spacing: 10px;

  a {
    color: inherit;
    text-decoration: none;
  }

  @media (min-width: 768px) {
    justify-self: start;
  }
}
