/*=============================================================================
  ヒーローイメージ
=============================================================================*/
.hero {
  grid-row: hero;
  grid-column: 1 / -1;
  margin-top: -20px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  @media (min-width: 768px) {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
  }

  .swiper-container {
    width: 100vw;
    grid-column: 1 / -1;
    grid-row: 1 / span 2;
    @media (min-width: 768px) {
      grid-row: 1;
    }
  }

  .swiper-slide {
    img {
      width: 100vw;
      filter: brightness(110%) blur(3px);
      z-index: -1;             // filter適用すると、重なり順が上に来るので、
                               // z-indexで重なり順を下にする
      position: relative;      // Safari で z-index 適用させるため
    }
  }

  .title {
    grid-column: 1;
    grid-row: 1;
    @media (min-width: 768px) {
      grid-column: 1;
      grid-row: 1;
    }
    justify-self: center;
    align-self: center;
    z-index: 200;
    width: 80%;

    color: $sakurairo;
    font-size: 44px;
    font-weight: normal;
    line-height: 1.2;
    text-shadow: 0 0 5px $utsushiiro;
  }

  .subtitle {
    grid-column: 1;
    grid-row: 2;
    @media (min-width: 768px) {
      grid-column: 2;
      grid-row: 1;
    }
    justify-self: center;
    align-self: center;
    z-index: 200;
    position: relative;

    a {
      color: $sakurairo;
      text-decoration: none;
      border: solid 2px $sakurairo;
      padding: 10px 40px;
      display: inline-block;
      margin-top: 10px;
      border-radius: 10px;
      background-color: rgba($utsushiiro, 0.5);
      &:hover {
        background-color: rgba(darken($utsushiiro, 20%), 0.7);
      }
    }
  }
}
