/* 夏の思い出
---------------------------------------------------------------------*/
.omoide {
  h2 {
    text-align: center;
  }

  article p {
    font-size: 18px;
    margin-bottom: 1em;
    text-align: center;
  }

  figure img {
    object-fit: cover;
    width: 100%;
    max-height: 456px;
    margin-bottom: 20px;
  }

  figcaption {
    text-align: center;
  }
}
