---
title: さくら商会 - 静かに流れる豊かさを
---

= partial 'hero'
= partial 'service'
= partial 'post01'
= partial 'video'
= partial 'about'
= partial 'map'
= partial 'photograph'
= partial 'contact'
/ = partial 'follow_menu'

.ui.container.kitchen_sink style="grid-row: kitchen_sink;"
  = link_to '/kitchen_sink.html', class: 'ui primary button' do
    | Kitchen Sink 使用例紹介
